<div class="container">
	<div class="row">
		<div id="front" class="col-sm-12">
			<div class="col-sm-6 col-sm-offset-6 text-center">
				<div id="typing-header">
				</div>
				<div id="studentHeader">
				</div>
				<div id="graduation"></div>
				<div id="js"class="col-sm-6"></div>
				<div id="php" class="col-sm-6"></div>
				<div id="mean"class="stack col-sm-6"></div>
				<div id="lamp" class="stack col-sm-6"></div>
				<div id="univ" class="orange col-sm-12"></div>
				<div id="language" class="col-sm-12"></div>
			</div>
		</div>
	</div>
</div>

<script>
	$.backstretch("styling/images/screenshot1.png");
</script>
