<div class="row">
  <div id="image-wrapper" class="col-sm-12">
  	 	<div class="thumbnail col-sm-3">
	      	<img src="portfolio/images/dc-roasters.png" height="230px">
	        <div class="caption text-center">
       			<h4>DC Roasters</h4>
       			<h6>E-commerce site built using MongoDB, Express, Angular and Node.</h6>
       			<p><a href="https://github.com/pwmurphy89/newCoffee" target="_blank">Github</a> <a href="http://www.pwmurphy.com/coffee" target="_blank">Demo</a></p>
 			</div>
	 	</div>
	  	<div class="thumbnail col-sm-3 col-sm-offset-1">
	      	<img src="portfolio/images/blackjack.png">
	        <div class="caption text-center">
       			<h4>Blackjack</h4>
       			<h6>Computer game built with JQuery, JavaScript and Bootstrap.</h6>
       			<p class="one-line"><a href="https://github.com/pwmurphy89/Blackjack" target="_blank">Github</a> <a href="http://www.pwmurphy.com/blackjack" target="_blank">Demo</a></p>
 			</div>
	 	</div>
	  	<div class="thumbnail col-sm-3 col-sm-offset-1">
	      	<img src="portfolio/images/tictactoe.png">
	        <div class="caption text-center">
       			<h4>Tic-Tac-Toe</h4>
       			<h6>Built with native JavaScript.  Added intelligence to computer's markings.</h6>
       			<p><a href="https://github.com/pwmurphy89/tictactoe-Updated" target="_blank">Github</a> <a href="http://www.pwmurphy.com/tictactoe" target="_blank">Demo</a></p>
 			</div>
	 	</div>
	 	<div class="thumbnail col-sm-3">
	      	<img src="portfolio/images/electoral-map.png">
	        <div class="caption text-center">
       			<h4>Electoral Map</h4>
       			<h6>Interactive electoral map built using SVG's and Angular.</h6>
       			<p class="one-line"><a href="https://github.com/pwmurphy89/interactive-map" target="_blank">Github</a> <a href="http://www.pwmurphy.com/map" target="_blank">Demo</a></p>
 			</div>
	 	</div>
	 	<div class="thumbnail col-sm-3 col-sm-offset-1">
	      	<img src="portfolio/images/interactive-map.png">
	        <div class="caption text-center">
       			<h4>Interactive Map</h4>
       			<h6>Angular application that dynamically displays countries that meet multiple search criterion.</h6>
       			<p><a href="https://github.com/pwmurphy89/backTableBankers" target="_blank">Github</a> <a href="http://www.pwmurphy.com/interactive-map" target="_blank">Demo</a></p>
 			</div>
	 	</div>	  	
	 	<div class="thumbnail col-sm-3 col-sm-offset-1">
	      	<img src="portfolio/images/chinese404.png">
	        <div class="caption text-center">
       			<h4>Chinese404</h4>
       			<h6>Reddit clone for students of Chinese. Built with PHP and MySQL.</h6>
       			<p><a href="https://github.com/pwmurphy89/chinese404" target="_blank">Github</a> <a href="http://www.pwmurphy.com/chinese404" target="_blank">Demo</a></p>
 			</div>
	 	</div>  	
	 	<div class="thumbnail col-sm-6 col-sm-offset-3">
	      	<img src="portfolio/images/monopoly.png">
	        <div class="caption text-center">
       			<h4>Monopoly</h4>
       			<h6>Monopoly Game using JavaScript, Angular, Sockets, MySQL, and Express.</h6>
       			<p><a href="https://github.com/pwmurphy89/monopoly" target="_blank">Github</a> <a href="http://www.pwmurphy.com/monopoly" target="_blank">Demo</a></p>
 			</div>
	 	</div>
	</div>
</div>

		<script>
	$.backstretch("portfolio/styling/images/blackorangecode.jpg");
	</script>