<div class="container">
	
	<div id="stacks" class="row col-sm-12">
		<div id="mean"class="col-sm-6">
			<img src="portfolio/images/transparentmean.png">
		</div>
		<div id="lamp" class="col-sm-6">
			<img src="portfolio/images/tlamp.webp">
		</div>
	</div>
	<div id="lists" class="col-sm-12">
		<div class="col-sm-4 text-center">
			<h1>Mongo Database</h1>
			<h1>Express Framework</h1>
			<h1>AngularJS</h1>
			<h1>Node.JS</h1>
		</div>

		<div id="three" class="col-sm-4 text-center">
			<img src="portfolio/images/html-css-js.png">
		</div>

		<div class="col-sm-4 text-center">
			<h1>LINUX</h1>
			<h1>Apache Web Server</h1>
			<h1>MySQL Database</h1>
			<h1>PHP</h1>
		</div>
	</div>
	<div id="additional" class="col-sm-8 col-sm-offset-2 text-center">
			<img src="portfolio/images/aws.png">

			<img src="portfolio/images/bootstrap.jpeg">

			<img src="portfolio/images/github1.png">

			<img src="portfolio/images/jquery.png">
	</div>



		<script>
	$.backstretch("portfolio/styling/images/blackorangecode.jpg");
	</script>
