<div class="container">
	
	<div id="stacks" class="row col-sm-12">
		<div id="mean"class="col-sm-6">
			<img src="portfolio/images/transparentmean.png">
		</div>
		<div id="lamp" class="col-sm-6">
			<img src="portfolio/images/tlamp.webp">
		</div>
	</div>
	<div id="lists" class="col-sm-12">
		<div class="col-sm-4 text-center">
			<h1>Mongo Database</h1>
			<h1>Express Framework</h1>
			<h1>AngularJS</h1>
			<h1>Node.JS</h1>
		</div>

		<div id="three" class="col-sm-4 text-center">
			<img src="portfolio/images/html-css-js.png">
		</div>

		<div class="col-sm-4 text-center">
			<h1>LINUX</h1>
			<h1>Apache Web Server</h1>
			<h1>MySQL Database</h1>
			<h1>PHP</h1>
		</div>
	</div>
	<div id="additional" class="col-sm-8 col-sm-offset-2 text-center">
			<img src="portfolio/images/aws.png">

			<img src="portfolio/images/bootstrap.jpeg">

			<img src="portfolio/images/github1.png">

			<img src="portfolio/images/jquery.png">
	</div>



		<script>
	$.backstretch("portfolio/styling/images/blackorangecode.jpg");
	</script>

f
<!-- 			<div class="col-sm-3">
				<img src = "images/js.png">
			</div>
			<div class="col-sm-3">
				<img src = "images/html5.png">
			</div>
			<div class="col-sm-3">
				<img src = "images/css.png">
			</div>
						<div class="col-sm-3">
				<img src = "images/bootstrap.jpeg">
			</div>
						<div class="col-sm-3">
				<img src = "images/github1.png">
			</div>
						<div class="col-sm-3">
				<img src = "images/jquery.png">
			</div>
						<div class="col-sm-3">
				<img src = "images/sass.png">
			</div>
				<div class="col-sm-3">
				<img src = "images/aws.png">
			</div> -->





<!-- 
			<div class="col-sm-3">
				<img src = "images/linux.jpg">
			</div>
			<div class="col-sm-3">
				<img src = "images/apache.jpg">
			</div>
			<div class="col-sm-3">
				<img src = "images/mysql.png">
			</div>
			<div class="col-sm-3">
				<img src = "images/php.jpeg">
			</div>
			<div class="col-sm-3">
				<img src = "images/mongo.png">
			</div>
			<div class="col-sm-3">
				<img src = "images/express.png">
			</div>
			<div class="col-sm-3">
				<img src = "images/angularjs.png">
			</div>
			<div class="col-sm-3">
				<img src = "images/node.jpg">
			</div> -->
