/* line 1, ../compass/sass/style.scss */
nav {
  height: 120px;
  color: white;
}

/* line 5, ../compass/sass/style.scss */
#navbar {
  border-bottom: 1px solid white;
}

/* line 8, ../compass/sass/style.scss */
.navbar-toggle.collapsed {
  z-index: 100;
}

/* line 13, ../compass/sass/style.scss */
#nav-navbar-collapse-1 ul {
  float: right;
  background-color: #222;
  position: relative;
  margin-top: 33px;
}
/* line 18, ../compass/sass/style.scss */
#nav-navbar-collapse-1 ul li > a {
  font-size: 18px;
}
@media all and (max-width: 768px) {
  /* line 23, ../compass/sass/style.scss */
  #nav-navbar-collapse-1 ul {
    width: 30%;
  }
}

/* line 28, ../compass/sass/style.scss */
#nav-list {
  position: absolute;
  top: 68px;
  left: 69%;
}

/* line 34, ../compass/sass/style.scss */
#name {
  display: inline-block;
  position: absolute;
  left: 0%;
  top: 25px;
  float: left;
}
/* line 40, ../compass/sass/style.scss */
#name h1 {
  font-size: 45px;
}
/* line 43, ../compass/sass/style.scss */
#name #p {
  margin-right: -10px;
}
/* line 46, ../compass/sass/style.scss */
#name #w, #name #m {
  margin-left: 15px;
}
/* line 49, ../compass/sass/style.scss */
#name .first-letter {
  font-size: 80px;
}

/* line 53, ../compass/sass/style.scss */
#view {
  margin-top: 120px;
}

/* line 56, ../compass/sass/style.scss */
#front {
  color: white;
  font-family: 'Monda', sans-serif;
}

/* line 60, ../compass/sass/style.scss */
#typing-header {
  margin-top: 50px;
  font-size: 40px;
  color: #4EB4DE;
}

/* line 66, ../compass/sass/style.scss */
#studentHeader {
  font-size: 22px;
  margin: -8px auto;
  color: #C7C752;
}

/* line 71, ../compass/sass/style.scss */
#graduation {
  font-size: 20px;
  color: #B137EA;
}

/* line 75, ../compass/sass/style.scss */
#js, #php {
  margin-top: 20px;
  font-size: 30px;
  text-decoration: underline;
}

/* line 80, ../compass/sass/style.scss */
#univ {
  font-size: 26px;
  margin-top: 45px;
  color: orange;
}

/* line 85, ../compass/sass/style.scss */
.stack {
  font-size: 18px;
  color: #D62626;
}

/* line 89, ../compass/sass/style.scss */
#language {
  margin-top: 40px;
  font-size: 20px;
}

/* line 93, ../compass/sass/style.scss */
#image-wrapper {
  margin-top: 75px;
}
/* line 95, ../compass/sass/style.scss */
#image-wrapper h4, #image-wrapper h6 {
  color: white;
}
/* line 98, ../compass/sass/style.scss */
#image-wrapper .caption {
  margin: -16px -5px -20px -5px;
  height: 120px;
}
/* line 101, ../compass/sass/style.scss */
#image-wrapper .caption h6 {
  margin-bottom: 5px;
  color: white;
}
/* line 106, ../compass/sass/style.scss */
#image-wrapper .thumbnail {
  background-color: #222;
}
/* line 108, ../compass/sass/style.scss */
#image-wrapper .thumbnail img {
  height: 230px;
}
/* line 111, ../compass/sass/style.scss */
#image-wrapper .thumbnail p {
  font-size: 18px;
  margin: -3px;
}
/* line 114, ../compass/sass/style.scss */
#image-wrapper .thumbnail p a {
  padding: 2px;
  background-color: white;
  color: black;
  border-radius: 7px;
}

/* line 126, ../compass/sass/style.scss */
#stacks #mean img {
  width: 70%;
  float: left;
  margin-top: 28px;
}
/* line 131, ../compass/sass/style.scss */
#stacks #mean h1 {
  margin-top: 34px;
  color: white;
  font-size: 50px;
}
/* line 137, ../compass/sass/style.scss */
#stacks #lamp {
  margin-top: 10px;
}
/* line 139, ../compass/sass/style.scss */
#stacks #lamp img {
  width: 70%;
  margin-top: -50px;
  float: right;
}
/* line 144, ../compass/sass/style.scss */
#stacks #lamp h1 {
  margin-left: 125px;
  color: white;
  font-size: 50px;
}

/* line 155, ../compass/sass/style.scss */
#tech img {
  width: 100%;
  height: 200px;
}

/* line 161, ../compass/sass/style.scss */
#three img {
  width: 90%;
}

/* line 166, ../compass/sass/style.scss */
#lists {
  color: white;
}

/* line 170, ../compass/sass/style.scss */
#additional img {
  width: 20%;
}

/* line 175, ../compass/sass/style.scss */
#js img {
  height: 700px;
  position: absolute;
  left: -170px;
  width: 125%;
  opacity: 0.5;
}

/* line 184, ../compass/sass/style.scss */
#contact h2 {
  color: white;
  margin-top: 30px;
  font-size: 50px;
  margin-bottom: 30px;
}

/* line 192, ../compass/sass/style.scss */
#contact-links {
  margin-bottom: 45px;
}

/* line 196, ../compass/sass/style.scss */
#git img {
  width: 50%;
}

/* line 201, ../compass/sass/style.scss */
#link img {
  width: 49%;
}

/* line 207, ../compass/sass/style.scss */
#mail img {
  width: 127%;
  margin-top: -10px;
}
