/* line 1, ../compass/sass/style.scss */
nav {
  height: 120px;
  color: white;
}

/* line 5, ../compass/sass/style.scss */
.navbar-toggle.collapsed {
  z-index: 100;
}

/* line 10, ../compass/sass/style.scss */
#nav-navbar-collapse-1 ul {
  float: right;
  background-color: #222;
  position: relative;
  margin-top: 33px;
}
/* line 15, ../compass/sass/style.scss */
#nav-navbar-collapse-1 ul li > a {
  font-size: 18px;
}
@media all and (max-width: 768px) {
  /* line 20, ../compass/sass/style.scss */
  #nav-navbar-collapse-1 ul {
    width: 30%;
  }
}

/* line 26, ../compass/sass/style.scss */
#nav-list {
  position: absolute;
  top: 68px;
  left: 69%;
}

/* line 32, ../compass/sass/style.scss */
#name {
  display: inline-block;
  position: absolute;
  left: 0%;
  top: 25px;
  float: left;
}
/* line 38, ../compass/sass/style.scss */
#name h1 {
  font-size: 45px;
}
/* line 41, ../compass/sass/style.scss */
#name #p {
  margin-right: -10px;
}
/* line 44, ../compass/sass/style.scss */
#name #w, #name #m {
  margin-left: 15px;
}
/* line 47, ../compass/sass/style.scss */
#name .first-letter {
  font-size: 80px;
}

/* line 51, ../compass/sass/style.scss */
#view {
  margin-top: 120px;
}

/* line 54, ../compass/sass/style.scss */
#front {
  margin-top: 100px;
  color: white;
}

/* line 58, ../compass/sass/style.scss */
#image-wrapper {
  margin-top: 75px;
}
/* line 60, ../compass/sass/style.scss */
#image-wrapper .caption {
  margin: -16px -5px -20px -5px;
  height: 120px;
}
/* line 64, ../compass/sass/style.scss */
#image-wrapper .thumbnail img {
  height: 230px;
}
/* line 67, ../compass/sass/style.scss */
#image-wrapper p.one-line {
  margin: 0px;
}
/* line 70, ../compass/sass/style.scss */
#image-wrapper p {
  font-size: 20px;
  margin: -10px;
}
/* line 74, ../compass/sass/style.scss */
#image-wrapper p a {
  padding: 20px;
}

/* line 81, ../compass/sass/style.scss */
#tech img {
  width: 100%;
  height: 200px;
}
